# Virtual Env
zerodaha_env/
zerodaha_new_env/

# Output Data
Data/Output/
Data/Analysis/
Archive/

# Credentials
gcloud/
.vscode/
database.ini
db.ini
test.ini

#sqlite db
db.sqlite3
db,sqlite3

# Logs
logs/

# temporary files with ticker data for roll forwarding and high low comparisons
temp_cache/
high_low_files/